$c-white: white;
$c-grey-100: #e8e8e8;
$c-grey-200: lightgray;
$c-grey-300: darkgrey;
$c-black-100: #484848;
$c-black-200: black;
$c-red-400: rgb(211, 0, 0);
$c-red-500: rgb(220, 0, 0);

.txt-c-red-400 {
    color: $c-red-400;
}
